:root {
	--color-bg: rgb(17, 16, 22);
	--color-primary: #254D70;
	--color-secondary: #131D4F;
	--color-highlight: #954C2E;
	--font-roboto: "Roboto Mono"
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--color-bg);
}

